body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgba(90, 25, 25), rgba(90, 25, 25),rgb(105, 30, 30), rgb(121, 36, 36), rgb(141, 47, 47), rgb(139, 56, 56),rgb(170, 72, 72),rgb(197, 99, 99));
  background-repeat: no-repeat;
  background-attachment: fixed; /* Add this line */
}
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: black;
}
.main-login-page-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.Login-square,
.signup-square{
  margin-top: 10%;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.signup-square{
  height: 550px;
  margin-top: 80px;
}
.LoginBars{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
  padding-right: 60px;
  border: solid black 3px;
  border-radius: 30px;
  font-size: 15px;
}
.new-p-login{
  font-size: 20px;
  margin-top: 40px;
}
.signuplink{
  color: skyblue;
}
.signuplink:hover{
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
  font-size: 22px;
}
.loginlink{
  color: rgb(26, 205, 250);
}
.loginlink:hover{
  cursor: pointer;
  font-weight: 800;
}
.signup-labels{
  font-weight: 100;
  font-size: 22px;
}
.signup-inputs{
  font-weight: 100;
  font-size: 22px;
  border: black 1px solid;
  padding: 5px 0px;
  border-radius: 5px;
}
.signup-submit-btn{
  background-color: #ffffff00;
  color: white;
  border: None;
  font-weight: 700;
  font-size: 30px;
  padding-left: 70px;
  margin-top: 40px;
  cursor: pointer;
}
.signup-submit-btn:hover{
  color: rgb(207, 102, 102);
  font-weight: 100;
  font-size: 30px;
}
.Header-Main-Div {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.541);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 211, 211);
  border-bottom: 4px black solid;
  z-index: 111110000;
}

.Header-logo {
  width: 220px; 
  height: 100px;
}
.header-title{
  font-family: "MedievalSharp", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
}
.Header-title {
  flex: 1;
  padding-right: 100px;
  text-align: center; 
}
@media screen and (max-width: 711px) {
  .Header-logo {
    width: 180px; 
    height: 100px;
  }
  .header-title{
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-style: normal;
    padding-right: 50px;
    font-size: 29px;
  }
  .Header-title {
    flex: 1;
    padding-right: 50px;
    text-align: center; 
  }
}
@media screen and (max-width: 621px) {
  .Header-logo {
    width: 180px; 
    height: 100px;
  }
  .header-title{
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-style: normal;
    padding-right: 0px;
    font-size: 29px;
  }
  .Header-title {
    flex: 1;
    padding-right: 30px;
    text-align: center; 
  }
}

.Header-menu {
  width: 80px; 
  height: 60px;
  padding-right: 20px;
  text-align: right; 
  cursor: pointer;
}
.header-drop-down-menu {
  background-color: rgba(241, 241, 241, 0.897);
  z-index: 10000;
  color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  position: fixed;
  right: -300px; 
  margin-top: 108px;
  top: 0;
  bottom: 0;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out; 
}
.messages-span{
  color: white;
  background-color: rgb(230, 66, 66);
  margin-left: 10px;
  position: relative;
  margin-bottom: -10px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 50%;
}
.show-menu {
  right: 0; 
  opacity: 1; 
}
.Menu-p-s{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom-color: rgba(161, 72, 72, 0.521);
  border-bottom-width: 1px;
  border-bottom-style: groove;
  text-align: center;
  cursor: pointer;
}
.Menu-p-s:hover{
  color: brown;
  border-bottom-width: 3px;
  font-weight: 100;
  font-size: 22px;
  background-color: rgba(165, 42, 42, 0.096);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.menu-leave{
  font-weight: 400;
  font-size: 21px;
  cursor: pointer;
}
.menu-leave:hover{
  font-weight: 100;
  font-size: 22px;
  padding-right: 1px;
  color: red;
}
.Travelers-homepage-div{
  z-index: 10;
  background-color: rgba(117, 56, 56, 0.384);
  width: fit-content;
  color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding-left: 10px;
  border-right: rgba(0, 0, 0, 0.678) 3px solid;
  border-bottom: rgba(0, 0, 0, 0.678) 3px solid;
}
.Travelers-hompage-info{
  margin-left: -10px;
  padding-left: 10px;
  cursor: pointer;
}
.Travelers-hompage-info:hover{
  border-bottom: 3px black solid;
  background-color: rgba(80, 33, 33, 0.568);
  color: rgb(223, 217, 217);
  font-size: 18px;
}
.Travelers-hompage-h2{
  font-size: 25px;
  margin-left: -10px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px black solid;
}
.Travelers-hompage-search{
  height: 24px;
  margin-left: -5px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
}
.Travelers-hompage-search-h2{
  font-size: 20px;
  margin-left: -10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 18px;
  color: rgb(2, 2, 2);
  text-align: center;
  font-weight: 700;
}
.Homepage-main-div {
  display: flex;
  padding-top: 108px;
}
.Travelers-container {
  flex-grow: 1;
}
.TB-main-div{
  position: absolute;
  padding-top: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #baf3c8, #495c33);
  overflow-y: auto;
}
.PB-main-div{
  position: absolute;
  padding-top: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #c38eda, #27054e);
  overflow-y: auto;
}
.Homepage-content-div{
  width: 100%;
  display: flex;
  padding-right: 5%;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: black;
  font-size: 22px;
}
.Homepage-contents-divs{
  background-color: rgb(175, 41, 41);
  font-size: 18px;
  padding: 10px;
  width: 800px;
  border: black solid 3px;
  border-radius: 10px;
  text-align: center;
}
.Homepage-contents-divs:hover{
  border: rgba(0, 0, 0, 0.185) solid 3px;
  border-bottom: rgba(0, 0, 0, 0.767) solid 6px;
}
.Hompage-daily-input{
  width: 300px;
  height: 30px;
  border: black solid 2px ;
  border-radius: 10px;
  margin-left: 31%;
  display: block;
}
.Hompage-daily-submit{
  border: rgb(0, 0, 0) solid 1px;
  background-color: rgb(46, 43, 43);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.travelors-info-div{
  position: relative;
  margin-top: 118px;
  width: 97%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  gap: 60px;
}
.Traveler-Pic{
  width: 60%;
  max-width: 650px;
  height: auto;
  border: black solid 2px;
  margin-left: 5%;
}
.Traveler-Bio{
  border: rgba(0, 0, 0, 0.384) solid 2px;
  width: 900px; 
  font-size: 28px;
  overflow: auto; 
  white-space: pre-line; 
  height: auto; 
  padding: 5px;
}
.PB-dailyObj{
  margin-left: 200px;
  margin-top: -49px;
  padding-bottom: 30px;
  font-size: 26px;
}
.Bio-input{
  min-width: 100px;
  width: auto; 
  max-width: 300px; 
  font-size: 15px;
  min-height: 80px;
  max-height: 170px;
}
.edit-inputs{
  height: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.Traveler-Info{
  padding-bottom: 30px;
  width: 60%;
}
.Report-PB {
  position: absolute;
  bottom: -50px;
  right: 40px;
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 0;
  cursor: pointer;
}
.Edit-PB {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 0;
  cursor: pointer;
}
.ProfileBook-guilds-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.PB-guilds-div{
  border: black solid 2px;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
}
.Color-Div{
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.596);
  color: rgba(255, 255, 255, 0.623);
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.Save-color-btn{
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  right: 45%;
  padding: 10px; 
}
.Find-travelers-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, #80ebd9, #3f5c9b);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.acc-status-div{
  font-size: 20px;
}
.Find-C-Span{
  color: rgb(97, 236, 155);
  cursor: pointer;
}
.Header{
  z-index: 1000000;
}
.Current-Companions-grid {
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); 
  grid-auto-rows: minmax(100px, auto); 
  grid-gap: 10px; 
  width: 94vw;
  background-color: rgba(42, 44, 173, 0.144);
  padding: 20px;
  border: black 2px solid;
  border-radius: 20px;
  z-index: 0;
}
@media screen and (max-width: 930px) {
  .Current-Companions-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); 
    grid-auto-rows: minmax(100px, auto); 

  }
}
@media screen and (max-width: 630px) {
  .Current-Companions-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr)); 
    grid-auto-rows: minmax(100px, auto); 

  }
}
.companion-item {
  background-color: rgba(10, 36, 109, 0.521); 
  font-size: 18px;
  border-radius: 10px;
  padding: 10px; 
  width: calc(100% - 20px); 
}
.companion-item:hover{
  border: 2px solid rgba(0, 0, 0, 0.486);
  border-bottom: 4px solid rgba(0, 0, 0, 0.774);
}
.CompReq-main-div {
  display: flex;
  padding-top: 108px;
}
.CompReq-content-div{
  width: 100%;
  display: flex;
  padding-left: 7%;
  flex-direction: column;
  gap: 25px;
  color: black;
  font-size: 22px;
}
.companion-req-item {
  background: linear-gradient(to right, #4d0505, #b12c33);
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 130px;
  padding: 10px; 
  width: calc(70% - 15px); 
  color: rgb(224, 217, 217);
}
.companion-req-item:hover {
  border: black solid 2px;
}
.No-request{
  font-size: 25px;
  padding-left: 13%;
}
.Trav-div{
  display: flex;
  border: black solid 4px;
  flex-direction: column;
  width: 100%;
}

.Trav-negatives{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.blocked-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to right, #4d0505, #b12c33);
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px; 
  width: calc(90% - 20px); 
  color: rgb(224, 217, 217);
}
.Guild-reg-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(106, 125, 177), #14b953);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.Guild-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black ;
  gap: 20px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.363);
  width: 60vw;
  height: auto;
  margin-bottom: 70px;
}
.Guild-inputs{
  width: 55%;
  max-width: 70%;
  height: 30px;
  font-size: 17px;
}
.make-guild-p{
  font-size: 20px;
  margin-top: -30px;
}
.Make-guild-btn{
  border: none;
  background: none;
  padding-top: 30px;
  font-size: 28px;
  font-weight: 500;
  font-family: "MedievalSharp", cursive;
  cursor: pointer;
}
.Make-guild-btn:hover{
  font-weight: 900;
}
.All-Guilds-main-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(219, 197, 98), #d49029);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;/* Adjust as needed */
}

.guild-container {
  display: flex;
  flex-direction: column;
  width: 90%; /* Ensure container spans the entire viewport width */
}
.All-Guilds-content-div{
  padding-left: 170px;
  padding-top: 120px;
}
.guild-item {
  background: linear-gradient(to right, #947f3931, #63550675);
  border: black solid 3px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px; 
  margin-bottom: 20px;
  color: rgb(58, 52, 52);
  width: 100%; /* Ensures the item stretches horizontally */
  cursor: pointer;
}
.findable-guild-item{
  border: black solid 3px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 0%;
  padding: 10px; 
  margin-bottom: 20px;
  color: rgb(8, 8, 8);
  width: 90%; 
  display: flex;
  flex-direction: row;
}

.Join-A-Guild-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, #87d8f1bb,  #1571883a );
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.Conversations-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, #c5daee4b, #266bc5);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.Convo-companion-map-div{
  padding: 10px;
  border: solid black 1px;
  font-size: 24px;
}
.Convos-div{
  padding-top: 114px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.convo-window-main-div{
  position: fixed;
  right: 5%;
  top: 150px;
  left: 5%;
  bottom: 5%;
  background-color: #1a1b1b0a;
  padding: 20px;
  border: black solid 5px;
  border-radius: 5%;
}
.start-new-convo-textarea{
  margin-left:  0px;
  font-size: 30px;
  resize: none;
  width: 100%;
  height: 45vh;
  border: 3px solid black;
  border-radius: 20px;
  color: white;
  background-color: #ffffff50;
}
.current-convos{
  background: linear-gradient(to right, #10589b4b, #728fb4);
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.main-messages-div {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #68bbadc4, #26c53333);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.messages-div {
  display: flex;
  flex-direction: row;
  height: 89%;
  padding-top: 108px;
}
.left-side-with-Conversations {
  flex: 1;
  height: 100%;
  max-width: 20%;
  min-width: 15%;
  border-right: black solid 4px;
  background-color: rgba(255, 255, 255, 0.096);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.right-side-with-messages {
  flex: 4;
  height: 100%;
  padding-left: 20px;
  min-width: 80%;
  background-color: rgba(14, 14, 14, 0.37);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: initial;
  position: relative;
}
.current-convos-messages{
  border: 2px solid black;
  width: 95%;
  padding-left: 3%;
  cursor: pointer;
  margin-top: 10px;
  height: 100px;
  position: relative;
  margin-bottom: 10px;
}
.Notif-Counter{
  background-color: red;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0px 3px ;
  border-radius: 50%;
  border: red solid 1px;
}


.input-div {
  width: 96%;
  padding: 2%;
  background-color: #f0f0f04f;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.messages-input {
  width: calc(100% - 120px); /* Adjust width of input field */
  height: 50px; /* Adjust height of input field */
  margin-right: 10px; /* Adjust margin */
  background-color: #f0f0f031;
  font-size: 20px;
}

.send-btn {
  width: 100px; /* Adjust width of button */
  height: 60px; /* Adjust height of button */
  position: relative;
  top: -7px; /* Adjusted to move the button up by 10 pixels */
  border-radius: 10px;
  background-color: #299c6c;
  cursor: pointer;
}
.Messages-alignment-div {
  color: white;
  flex: 1; /* Expand to fill the remaining space */
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  width: 77vw;
  max-height: 70vh;
  overflow-y: hidden;
}

.message-right {
  display: block;
  text-align: right;

}

.message-left {
  text-align: left;
  display: block;
  margin-top: 30px;
}
.message-content{
  display: inline-flex;
  padding: 15px;
  font-size: 26px;
  background-color: #299c6c;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;

}
.message-content2{
  display: inline-flex;
  padding: 15px;
  font-size: 26px;
  background-color: #0f8878;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.Make-A-convo-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 7px;
  width: 98%;
}
@media screen and (max-width: 700px) {
  .Make-A-convo-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
.Guild-Pages-main-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.Guild-Pages-left-side{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members-div{
  overflow-y: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}
.Guild-Pages-middle-side{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid black 2px;
  border-right: solid black 2px;
}
.Guild-Pages-right-side{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.GP-left-side-2nd{
  margin-top: 108px;
  overflow-wrap: break-word;
  max-width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GP-guild-moto{
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
}
.guild-Owner-tooltip{
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
  position: absolute;
  margin-left: 20%;
  padding: 10px;
  border-radius: 15px;
  margin-top: -8%;
}
.guild-ban-tooltip{
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
  position: absolute;
  margin-left: 30%;
  padding: 10px;
  border-radius: 15px;
  margin-top: 5%;
}
.guild-member-tooltip{
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
  position: absolute;
  margin-left: 20%;
  padding: 10px;
  border-radius: 15px;
  margin-top: -8%;
}
.guild-rightside-div{
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  width: 96%;
  margin-left: 2%;
  border-top: 1px solid rgb(0, 0, 0);
  color: rgb(31, 24, 24);
  font-size: 18px;
  text-align: center;
}
.guild-settings {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.Guild-stats-popup{
  display: flex;
  flex-direction: column;
  gap: 4%;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 5%;
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  font-weight: 500;
}
.Guild-Request-popup{
  position: fixed;
  top: 108px;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: rgba(68, 65, 65, 0.877);
  color: white;
  border-radius: 5%;
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  font-weight: 500;
}
.guild-req-counter{
  background-color: red;
  font-size: 20px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  border: rgba(0, 0, 0, 0.61) solid 1px;
  text-align: center;
  border-radius: 10px;
}
.ReqMember-item{
  display: flex;
  flex-direction: row;
  width: 96%;
  justify-content: space-between;
  background-color: rgb(93, 170, 147);
  color: rgba(7, 7, 7, 0.801);
  margin-bottom: 10px;
  border-radius: 3%;
  border: black solid 1px;
  padding: 2%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.37);
}
.guild-settings-div {
  position: absolute;
  top: 108px;
  left: 20%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(90, 89, 89);
  color: rgb(255, 255, 255);
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  font-weight: 500;
}
.guild-settings-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.guild-settings-popup-item {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20%;
  border: solid black 1px;
}
.guild-guidelines-popup-main{
  position: absolute;
  top: 108px;
  left: 20%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(90, 89, 89);
  color: rgb(255, 255, 255);
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.guild-Guideline-popup{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.guild-features-popup-main{
  position: absolute;
  top: 108px;
  left: 20%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(90, 89, 89);
  color: rgb(255, 255, 255);
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  display: flex; 
  flex-direction: column;
  gap: 30px;
}
.guild-features-form-divs{
  margin-top: 30px;
}
.guild-features-form-submit-btn {
  position: absolute;
  bottom: 5%;
  right: 2%;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0);
  border: none;
  color: white;
  font-weight: 800;
  font-size: 36px;
}
.guild-Report-A-User-popup-main{
  position: absolute;
  top: 108px;
  left: 20%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(90, 89, 89);
  color: rgb(255, 255, 255);
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
}
.Report-A-User-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.Report-A-User-grid-item {
  border: 1px solid #ccc;
  padding: 1px;
  text-align: center;
  background-color: #333030;
  border-radius: 5px;
  padding: 10px;
}
.guild-Report-A-User {
  position: absolute;
  top: 128px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(90, 89, 89);
  color: rgb(255, 255, 255);
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.report-list-divs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border: white solid 2px;
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 30px;
}
.warning-notif-number {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0px 6px;
  margin-left: 8px;
  font-size: 0.8em;
}
.warning-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 10px;
}
.Report-A-User-popup-main{
  position: absolute;
  top: 108px;
  left: 10%;
  right: 10%;
  bottom: 2%;
  background-color: rgba(20, 19, 19, 0.836);
  color: rgb(255, 255, 255);
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  border-radius: 20px;
}
.guild-Elder-Messages-popup-main {
  position: absolute;
  top: 108px;
  left: 40%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(1, 77, 77, 0.925);
  color: rgb(255, 255, 255);
  font-size: 30px;
  word-wrap: break-word;
  padding: 20px;
  border-radius: 20px;
}

.guild-message-right {
  display: block;
  text-align: right;
  margin-top: 30px;
}

.guild-message-left {
  text-align: left;
  display: block;
  margin-top: 30px;
}
.guild-message-content-elder{
  display: inline-flex;
  padding: 15px;
  font-size: 26px;
  background-color: #299c6c;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border: solid rgb(59, 57, 57) 1px;
}
.guild-message-content-owner{
  display: inline-flex;
  padding: 15px;
  font-size: 26px;
  background-color: #0f8878;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: solid rgb(255, 255, 255) 1px;
}

.message-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 80%; /* Make sure the parent container has a defined height */
}
.owner-message-container{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 80%;
  margin-top: 5%;
}