body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgba(90, 25, 25), rgba(90, 25, 25),rgb(105, 30, 30), rgb(121, 36, 36), rgb(141, 47, 47), rgb(139, 56, 56),rgb(170, 72, 72),rgb(197, 99, 99));
  background-repeat: no-repeat;
  background-attachment: fixed; /* Add this line */
}
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: black;
}
.main-login-page-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.Login-square,
.signup-square{
  margin-top: 10%;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.signup-square{
  height: 550px;
  margin-top: 80px;
}
.LoginBars{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
  padding-right: 60px;
  border: solid black 3px;
  border-radius: 30px;
  font-size: 15px;
}
.new-p-login{
  font-size: 20px;
  margin-top: 40px;
}
.signuplink{
  color: skyblue;
}
.signuplink:hover{
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
  font-size: 22px;
}
.loginlink{
  color: rgb(26, 205, 250);
}
.loginlink:hover{
  cursor: pointer;
  font-weight: 800;
}
.signup-labels{
  font-weight: 100;
  font-size: 22px;
}
.signup-inputs{
  font-weight: 100;
  font-size: 22px;
  border: black 1px solid;
  padding: 5px 0px;
  border-radius: 5px;
}
.signup-submit-btn{
  background-color: #ffffff00;
  color: white;
  border: None;
  font-weight: 700;
  font-size: 30px;
  padding-left: 70px;
  margin-top: 40px;
  cursor: pointer;
}
.signup-submit-btn:hover{
  color: rgb(207, 102, 102);
  font-weight: 100;
  font-size: 30px;
}
.Header-Main-Div {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.541);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 211, 211);
  border-bottom: 4px black solid;
  z-index: 111110000;
}

.Header-logo {
  width: 220px; 
  height: 100px;
}
.header-title{
  font-family: "MedievalSharp", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
}
.Header-title {
  flex: 1;
  padding-right: 100px;
  text-align: center; 
}
@media screen and (max-width: 711px) {
  .Header-logo {
    width: 180px; 
    height: 100px;
  }
  .header-title{
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-style: normal;
    padding-right: 50px;
    font-size: 29px;
  }
  .Header-title {
    flex: 1;
    padding-right: 50px;
    text-align: center; 
  }
}
@media screen and (max-width: 621px) {
  .Header-logo {
    width: 180px; 
    height: 100px;
  }
  .header-title{
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-style: normal;
    padding-right: 0px;
    font-size: 29px;
  }
  .Header-title {
    flex: 1;
    padding-right: 30px;
    text-align: center; 
  }
}

.Header-menu {
  width: 80px; 
  height: 60px;
  padding-right: 20px;
  text-align: right; 
  cursor: pointer;
}
.header-drop-down-menu {
  background-color: rgba(241, 241, 241, 0.897);
  z-index: 10000;
  color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  position: fixed;
  right: -300px; 
  margin-top: 108px;
  top: 0;
  bottom: 0;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out; 
}
.messages-span{
  color: white;
  background-color: rgb(230, 66, 66);
  margin-left: 10px;
  position: relative;
  margin-bottom: -10px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 50%;
}
.show-menu {
  right: 0; 
  opacity: 1; 
}
.Menu-p-s{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom-color: rgba(161, 72, 72, 0.521);
  border-bottom-width: 1px;
  border-bottom-style: groove;
  text-align: center;
  cursor: pointer;
}
.Menu-p-s:hover{
  color: brown;
  border-bottom-width: 3px;
  font-weight: 100;
  font-size: 22px;
  background-color: rgba(165, 42, 42, 0.096);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.menu-leave{
  font-weight: 400;
  font-size: 21px;
  cursor: pointer;
}
.menu-leave:hover{
  font-weight: 100;
  font-size: 22px;
  padding-right: 1px;
  color: red;
}
.Travelers-homepage-div{
  z-index: 10;
  background-color: rgba(117, 56, 56, 0.384);
  width: fit-content;
  color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding-left: 10px;
  border-right: rgba(0, 0, 0, 0.678) 3px solid;
  border-bottom: rgba(0, 0, 0, 0.678) 3px solid;
}
.Travelers-hompage-info{
  margin-left: -10px;
  padding-left: 10px;
  cursor: pointer;
}
.Travelers-hompage-info:hover{
  border-bottom: 3px black solid;
  background-color: rgba(80, 33, 33, 0.568);
  color: rgb(223, 217, 217);
  font-size: 18px;
}
.Travelers-hompage-h2{
  font-size: 25px;
  margin-left: -10px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px black solid;
}
.Travelers-hompage-search{
  height: 24px;
  margin-left: -5px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
}
.Travelers-hompage-search-h2{
  font-size: 20px;
  margin-left: -10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 18px;
  color: rgb(2, 2, 2);
  text-align: center;
  font-weight: 700;
}
.Homepage-main-div {
  display: flex;
  padding-top: 108px;
}
.Travelers-container {
  flex-grow: 1;
}
.TB-main-div{
  position: absolute;
  padding-top: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #baf3c8, #495c33);
  overflow-y: auto;
}
.PB-main-div{
  position: absolute;
  padding-top: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #c38eda, #27054e);
  overflow-y: auto;
}
.Homepage-content-div{
  width: 100%;
  display: flex;
  padding-right: 5%;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: black;
  font-size: 22px;
}
.Homepage-contents-divs{
  background-color: rgb(175, 41, 41);
  font-size: 18px;
  padding: 10px;
  width: 800px;
  border: black solid 3px;
  border-radius: 10px;
  text-align: center;
}
.Homepage-contents-divs:hover{
  border: rgba(0, 0, 0, 0.185) solid 3px;
  border-bottom: rgba(0, 0, 0, 0.767) solid 6px;
}
.Hompage-daily-input{
  width: 300px;
  height: 30px;
  border: black solid 2px ;
  border-radius: 10px;
  margin-left: 31%;
  display: block;
}
.Hompage-daily-submit{
  border: rgb(0, 0, 0) solid 1px;
  background-color: rgb(46, 43, 43);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.travelors-info-div{
  position: relative;
  margin-top: 118px;
  width: 97%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  gap: 60px;
}
.Traveler-Pic{
  width: 60%;
  max-width: 650px;
  height: auto;
  border: black solid 2px;
  margin-left: 5%;
}
.Traveler-Bio{
  border: rgba(0, 0, 0, 0.384) solid 2px;
  width: 900px; 
  font-size: 28px;
  overflow: auto; 
  white-space: pre-line; 
  height: auto; 
  padding: 5px;
}
.PB-dailyObj{
  margin-left: 200px;
  margin-top: -49px;
  padding-bottom: 30px;
  font-size: 26px;
}
.Bio-input{
  min-width: 100px;
  width: auto; 
  max-width: 300px; 
  font-size: 15px;
  min-height: 80px;
  max-height: 170px;
}
.edit-inputs{
  height: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.Traveler-Info{
  padding-bottom: 30px;
  width: 60%;
}
.Edit-PB {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 0;
  cursor: pointer;
}
.ProfileBook-guilds-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.PB-guilds-div{
  border: black solid 2px;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
}
.Color-Div{
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.596);
  color: rgba(255, 255, 255, 0.623);
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.Save-color-btn{
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  right: 45%;
  padding: 10px; 
}
.Find-travelers-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, #80ebd9, #3f5c9b);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.acc-status-div{
  font-size: 20px;
}
.Find-C-Span{
  color: rgb(97, 236, 155);
  cursor: pointer;
}
.Header{
  z-index: 1000000;
}
.Current-Companions-grid {
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); 
  grid-auto-rows: minmax(100px, auto); 
  grid-gap: 10px; 
  width: 94vw;
  background-color: rgba(42, 44, 173, 0.144);
  padding: 20px;
  border: black 2px solid;
  border-radius: 20px;
  z-index: 0;
}
.companion-item {
  background-color: rgba(10, 36, 109, 0.521); 
  font-size: 18px;
  border-radius: 10px;
  padding: 10px; 
  width: calc(100% - 20px); 
}
.companion-item:hover{
  border: 2px solid rgba(0, 0, 0, 0.486);
  border-bottom: 4px solid rgba(0, 0, 0, 0.774);
}
.CompReq-main-div {
  display: flex;
  padding-top: 108px;
}
.CompReq-content-div{
  width: 100%;
  display: flex;
  padding-left: 7%;
  flex-direction: column;
  gap: 25px;
  color: black;
  font-size: 22px;
}
.companion-req-item {
  background: linear-gradient(to right, #4d0505, #b12c33);
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 130px;
  padding: 10px; 
  width: calc(70% - 15px); 
  color: rgb(224, 217, 217);
}
.companion-req-item:hover {
  border: black solid 2px;
}
.No-request{
  font-size: 25px;
  padding-left: 13%;
}
.Trav-div{
  display: flex;
  border: black solid 4px;
  flex-direction: column;
  width: 100%;
}

.Trav-negatives{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.blocked-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to right, #4d0505, #b12c33);
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px; 
  width: calc(90% - 20px); 
  color: rgb(224, 217, 217);
}
.Guild-reg-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(106, 125, 177), #14b953);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.Guild-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black ;
  gap: 20px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.363);
  width: 60vw;
  height: auto;
  margin-bottom: 70px;
}
.Guild-inputs{
  width: 55%;
  max-width: 70%;
  height: 30px;
  font-size: 17px;
}
.make-guild-p{
  font-size: 20px;
  margin-top: -30px;
}
.Make-guild-btn{
  border: none;
  background: none;
  padding-top: 30px;
  font-size: 28px;
  font-weight: 500;
  font-family: "MedievalSharp", cursive;
  cursor: pointer;
}
.Make-guild-btn:hover{
  font-weight: 900;
}
.All-Guilds-main-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(219, 197, 98), #d49029);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;/* Adjust as needed */
}

.guild-container {
  display: flex;
  flex-direction: column;
  width: 90%; /* Ensure container spans the entire viewport width */
}
.All-Guilds-content-div{
  padding-left: 170px;
  padding-top: 120px;
}
.guild-item {
  background: linear-gradient(to right, #947f3931, #63550675);
  border: black solid 3px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px; 
  margin-bottom: 20px;
  color: rgb(58, 52, 52);
  width: 100%; /* Ensures the item stretches horizontally */
}
.findable-guild-item{
  border: black solid 3px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 0%;
  padding: 10px; 
  margin-bottom: 20px;
  color: rgb(8, 8, 8);
  width: 90%; 
  display: flex;
  flex-direction: row;
}

.Join-A-Guild-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, #87d8f1bb,  #1571883a );
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}
.Conversations-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 100vh;
  background: linear-gradient(to bottom, #bb80eb, #641094);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: auto;
}